<ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Today's most viewed courses</h5>
      <ion-icon name="information"></ion-icon>
    </ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="dark">
      <h6>1. Hight performance Habits</h6>
      <ion-text>
        <p>Raouf | Entrepreneur</p>
      </ion-text>
    </ion-text>
    <ion-text color="dark">
      <h6>2. Hight performance Habits</h6>
      <ion-text>
        <p>Raouf | Entrepreneur</p>
      </ion-text>
    </ion-text>
  </ion-card-content>
</ion-card>
