:host {
  justify-content: start;
}

.content-container {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

app-all-posts,
.post-divider {
  margin: 0 12px;
}

.post-divider {
  padding-top: 8px;
  margin: 0 12px;
}
