<ion-header class="ion-container ion-no-border">
  <ion-toolbar>
    <div class="toolbar-wrapper">
      <ion-buttons slot="start" class="ion-no-padding">
        <ion-button>
          <ion-icon color="primary" class="linkedin-logo" name="logo-linkedin">
          </ion-icon>
        </ion-button>
        <ion-searchbar
          class="ion-hide-lg-down"
          color="tertiary"
          placeholder="Search"
        ></ion-searchbar>
      </ion-buttons>

      <ion-grid>
        <ion-row>
          <ion-col size="auth">
            <ion-icon name="home"></ion-icon>
            <div>Home</div>
          </ion-col>
          <ion-col size="auth">
            <ion-icon name="people"></ion-icon>
            <div>My network</div></ion-col
          >
          <ion-col size="auth">
            <ion-icon name="briefcqse"></ion-icon>
            <div>Jobs</div></ion-col
          >
          <ion-col size="auth">
            <ion-icon name="chatbox-ellipses"></ion-icon>
            <div>Messagin</div></ion-col
          >
          <ion-col size="auth">
            <ion-icon name="notifications"></ion-icon>
            <div>Notifications</div></ion-col
          >
          <ion-col size="auth">
            <ion-icon name="home"></ion-icon>
            <div>Me</div></ion-col
          >
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
